@model layedata.blogmaghale

@{
    ViewData["Title"] = "Details";
}
@section css{
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
}
<h2>Details</h2>

<div>
    <h4>blogmaghale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.matnkootahblog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.matnkootahblog)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.matnkamelblog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.matnkamelblog)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.blogmaghaleid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
