@model layedata.soal

@{
    ViewData["Title"] = "Details";
}
@section css{
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
}
<h2>Details</h2>

<div>
    <h4>soal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soaltitr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.soaltitr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.soalmatn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.soalmatn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.zamimesoal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.zamimesoal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dore.dorematn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.soalid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
